#grid_container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
}

header {
    grid-area: header;
    background-color: red;
}

main {
    grid-area: main;
    background-color: green;
    height: 150px;
}

footer {
    grid-area: footer;
    background-color: blue;
    height: 150px;
}

@media screen and (min-width: 768px) {
    #grid_container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "main footer";
    }
}